asgiref==3.4.1
autopep8==1.5.7
dj-database-url==0.5.0
Django==3.2.6
gunicorn==20.1.0
pycodestyle==2.7.0
python-decouple==3.4
pytz==2021.1
sqlparse==0.4.2
toml==0.10.2
Unipath==1.1
whitenoise==5.3.0
mysqlclient==2.1.0
django-filter==21.1
django-tables2==2.4.1
django-crispy-forms==1.13.0
django-ckeditor==6.2.0
dj-database-url
django-import-export
djangorestframework==3.13.1
Markdown==3.3.6
reportlab==3.6.3
pillow==8.4.0